[Unit]
Description=Run Friendary health monitor every minute

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=10s
Persistent=true
Unit=friendary-monitor.service

[Install]
WantedBy=timers.target
